
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
body,html,main{height:100%}html,main{scroll-behavior:smooth}.flex-dislpay,.links{display:flex}#parent,.blur-effect{transition:1s ease-in}#header{top:0}svg{width:30px;height:30px}#foot{bottom:0}.box,.op,.scroll-effect-right{transition:1s ease-in-out}.clip{transition:1s ease-in;filter:drop-shadow(-3px -3px 0px rgba(125, 125, 124, .5))}#background-div,.earth-move{transition:2s ease-in-out}.links{flex-direction:column;color:#fff;justify-content:center}.notcurrent{text-decoration:none;font-weight:100}.gray{color:gray}.white{color:#fff}.currentCategory{text-decoration:underline;text-decoration-thickness:1px;font-weight:100}.links h3{margin-top:1rem;margin-bottom:1rem;cursor:pointer}.earth-move{top:40%;left:0}.links-buttons{transition:1s ease-out;opacity:0}#catergories-contents-container,.links-circle{transition:2s ease-in}.earthy{border-right:2px solid #b6a3a3}.links-circle{opacity:1;pointer-events:fill;cursor:pointer}#second-background{visibility:hidden}.cate{transition:1s ease-in;opacity:1;z-index:100}.move-image{animation:1.7s move}@keyframes move{from{transform: translateX(500px)}to{transform: translateX(0)}}::-webkit-scrollbar{width:.625rem}#home-image-container,#home-image-container2{clip-path:xywh(0 5px 100% 100% round 15% 0)}.runnig{animation:5s linear infinite rotates}@keyframes rotates{to{transform: rotate(360deg)}}#background-div::-webkit-scrollbar-thumb{background:#424243;border-radius:.625rem}#background-div::-webkit-scrollbar-track{background:rgba(150,109,109,.193);border:1px solid #000;border-radius:.625rem}#card-container{transition:2s}#assertive-container{transition:.5s ease-in}#categories-assertive-container{transition:.5s ease-in-out}#background-color-blur2::-webkit-scrollbar{display:none}.img-test{margin:0;padding:0;position:absolute;height:100px;width:100px}.categories-assertive{color:#fff;margin-top:21px;font-size:16px;margin-bottom:21px;z-index:100;position:relative}.assertive-touch{opacity:1;background-color:transparent;backdrop-filter:blur(6px);border-radius:100%;width:65px;height:65px;z-index:100}.bg-blur{background-color:#120e0e;opacity:.6}.circless{transform:rotate3d(1,0,0,70deg);z-index:0}#contaier{transform:rotate3d(1,1,0,180deg)}.none-dislpay{display:none}
.loading-running{
  animation: load 1s linear infinite;
}
.line-md--facebook::after {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: -0.125em;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23D1D5DB' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke-dasharray='24' stroke-dashoffset='24' d='M17 4l-2 0c-2.5 0 -4 1.5 -4 4v12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.4s' values='24;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='8' stroke-dashoffset='8' d='M8 12h7'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.5s' dur='0.2s' values='8;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

@keyframes load {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.image-container {
  width: 100%;
  height: 100%;
}
.masked-image {
  clip-path: url(#clip);
}
.assertive-blur {
  -webkit-backdrop-filter: blur(10px);
}

/* assertive position
.left-assertive{
  @apply left-[-70px];
}
.right-assertive{
  @apply right-[-70px];
} */
/* icon in icon container*/
.earth-contents-out{
  transition: 1s ease-out;
 @apply lg:opacity-0;
}
.header2-nav{
  @apply hover:text-orange-500;
}
.click-nav2{
  @apply text-orange-500 underline font-extrabold;
}
.not-focus{
  @apply bg-black opacity-[.5];
}
.focus{
  @apply bg-transparent opacity-[.5];
}
.next-po{
  @apply bg-gray-400 opacity-[.5];
}
.assertive-mobile{
  @apply flex;
}
.animations2{
  @apply border-blue-900;
  transition: .100 ease-in;
}
.left-position{
  @apply mr-4 justify-end;
  transition: .5 ease-in; 
}
/* margin right in icon itself*/
.left-position-margin{
  @apply mr-4;
}

#header1:not(:last-child){
  @apply pr-[115px] mx-0;
}

#header2 h1:not(:last-child){
  @apply text-white pr-[50px];
}



.click-container{
  @apply absolute bg-black top-10 left-0 flex justify-center items-center h-auto w-auto;
  pointer-events: none;
}
.click-rotate{
  @apply absolute rounded-full border-[5px] z-[500] border-dashed border-red-500  w-[20px] h-[20px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  transition: 1s ease-in;
  animation: click-rotates 1s 1 linear;
  opacity: 0;
  pointer-events: none;
}
@keyframes click-rotates {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);}
  to {
    height: 100px;
  width: 100px;
  opacity: 0;
    transform: translate(-50%, -50%) rotate(360deg);}
}

.click-rotate2{
  @apply absolute rounded-full border-[5px] z-[500] border-dashed border-blue-500  w-[20px] h-[20px] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  transition: 1s ease-in;
  animation: click-rotate2 1s 1 linear reverse;
  opacity: 0;
  pointer-events: none;
}
@keyframes click-rotate2 {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);}
  to {
    height: 100px;
  width: 100px;
  opacity: 0;
    transform: translate(-50%, -50%) rotate(360deg);}
    
} 
