
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body, html{
  height: 100%;
}

#header{
  top: 0px;
}

#foot{
  bottom: 0px;
}
main{
  height: 100%;
}
.links{

   display: flex;
   flex-direction: column;
   color: white;
   justify-content: center;  
}

.links h3{
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  
}

.earth-move{
  transition: 2s ease-in-out;
  top: 40%;
  left: -70px;
}
.links-buttons{
  transition: 1s ease-out;
  opacity: 0;
 
}
.icon-circle{
  margin-left: 0.188rem;
  margin-right: 0.188rem;
}
.links-circle{
   opacity: 1;
  transition: 2s ease-in;
  pointer-events: fill;
  cursor: pointer;
}

#second-background{
  visibility: hidden;
}

#background-div{
  transition: 2s ease-in-out;
}

.cate{
  transition: 2s ease-in;
  opacity: 1;
  z-index: 100;
}
.earth-contents-out{
  transition: 1s ease-out;
  opacity: 0;
  z-index: 0;
}
/* width */
::-webkit-scrollbar {
  width: 0.625rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #695baa; 
    border-radius: 0.625rem;
}
::-webkit-scrollbar-track {
  background: rgb(182, 17, 17); 
  border: 1px solid black;
  border-radius: 0.625rem;

}
#catergories-contents-container{
  transition: 2s ease-in;
}
#card-container{
  transition: 2s ease;
}



.img-test{
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100px;
  width: 100px;
}


#circle2{
  transform: rotateY(50deg);
}
#circle3{
  transform: rotateY(70deg);
}